<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hasee.androidipcdemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process=":SecondPross" />
        <activity
            android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process="com.example.hass.androidipcdemo.remote" />

        <service
            android:name=".MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".MessangerActivity"
            android:process=".MessangerActivity" />
        <activity android:name=".AIDLActivity" />

        <service
            android:name=".IIpcDemo.BookManagerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".AIDLService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>